<!DOCTYPE html>
<html>
    <head>
        <title>Patient Validation</title>
        <link rel="stylesheet" href="style.css">
        <script src="validation.js"defer></script>
    </head>
    <body>
        <h1>Clinic Patient Registration</h1>
        <form onsubmit=" handlesubmit()">
            <label>Full Name : </label><br>
            <input type = "text" id="full_name"></input><br><br>
            <label>Age : </label><br>
            <input type ="number"></input><br><br>
            <label>Phone Number : </label><br>
            <input type = "number"></input><br><br>
            <label>Email Address : </label><br>
            <input type = "text"></input><br><br>
            <label>Insurance Provider</label><br>
            <select>
                <option value = "">--What is your Provider?--</option>
                <option value = "1">--1--</option>
                <option value = "2">--2--</option>
                <option value = "3">--3--</option>
            </select><br><br>
            <label>Insurance Policy Number : </label><br>
            <input type = "text"></input><br>
            <h2>Additional Information :</h2>
            <label>UserName : </label><br>
            <input type = "text"></input><br><br>
            <label>Password : </label><br>
            <input type = "text"></input><br><br>
            <label>Confirm Password : </label><br>
            <input type = "text"></input><br><br>
            <button type = "Submit">Submit</button>
        </form>
    </body>
</html>